.hand {
  display: flex;
  justify-content: center;
  padding: 0 16px;
}

.cardWrapper {
  transition: transform 0.2s, z-index 0s;
  position: relative;
  z-index: 1;
}

.cardWrapper:hover {
  transform: rotate(0deg) translateY(-50px) scale(1.08) !important;
  z-index: 10;
}

.cardWrapper:not(:first-child) {
  margin-left: -40px;
}
